In [1]:
import numpy as np
import pandas as pd

In [7]:
texts = pd.read_csv('../pre_data/dataset.csv')

In [2]:
texts = pd.read_csv('./data/Beijing_travel_comment.csv')

In [8]:
# 显示前五行看看数据长啥样
display(texts.head())

                                                text  label
0  D1九月五号星期五包头1547——北1338K15351338，到达终点站北。7天酒店解放碑...      1
1  文路客老三我是老三，一个热爱生活的北京土著。待惯了城市，被传染了一身的城市病，想出去走走，或...      0
2  哈尔滨索菲亚山庄天津飞咯尚志洗浴昆明第一顿！昆明第一顿！昆明第一顿！昆明第一顿！昆明第一顿！...      1
3  他们说你是3D，4D，我不管，反正你是我的。妈妈说你离过婚，家里还有38口人要养，不能给我好...      0
4  我觉得如果再不把这篇日志整理完怕就真的全忘记了大家都以为我独自带宝宝周游中国旅行是早早就拟定...      1

In [3]:
# 显示前五行看看数据长啥样
display(texts.head())

                                                text  label
0                                    北京欢乐谷景色不错，有趣好玩，      1
1  南锣鼓巷北京旅行攻略关于住宿：为了出行方便住在前门推荐798艺术园区、南锣鼓巷、很适合拍照打...      0
2                                       八达岭长城不到长城非好汉      1
3                                    北京海洋馆票价比实际的高出太多      0
4                                         国家大剧院挺好。。。      1

# 文本预处理
缺失值处理

重复值处理 

文本预处理

In [9]:
# 检测缺失值
texts.isnull().sum()

text     0
label    0
dtype: int64

In [4]:
# 检测缺失值
texts.isnull().sum()

text     0
label    0
dtype: int64

In [10]:
# 重复值处理
print(texts.duplicated().sum())
display(texts[texts.duplicated()])

82

                                                   text  label
81    、黄龙是我国最美丽的以水为主题的自然风景区，所谓九寨归来不看水。我在这儿想提醒一下，大多数人...      1
145   ，令人向往的地方，一直吸引着我。在今年五一过后带上老婆和女儿，一起去了。穷游第一步当然是看机...      1
1006  这次之旅，大部分时间留在了，市区仅仅计划了两天行程，不过有一个地方一定要去，那就是中国最美丽...      1
1015  人其实是一种意念动物，在思维中寻找美好。在一个自己呆腻的地方到达别人呆腻的地方，就是旅行。其...      1
1023  2021年6月下旬，在去黑龙江旅游期间，曾经游览了的太阳岛。图为太阳岛的标志——太阳石。20...      1
...                                                 ...    ...
2387  刚过完儿子7岁生日，7月15日一家4人，倒腾了2次火车，从20度清凉无比的丽江来到了35度炎...      1
2402  DAY16月26号一早，我带上行李和爸妈的祝福出发去上海，到达后发现候车室里好多的背包客都跟...      1
2416  踏上钢琴码头，我期望中的旅途终于真正的开始了，但如何将这次游走落于纸笔间，却让我犯愁，第一次...      1
2425  第一天锦州到1230次1920开到济南554注明之所以从锦州去济南，是因为没有买到从的卧铺。...      1
2429  9月的气温依然让人不安仔细的计划着准备着不记得曾有多少次希望又希望期待又期待可以踏上那片土地...      1

[82 rows x 2 columns]

In [5]:
# 重复值处理
print(texts.duplicated().sum())
display(texts[texts.duplicated()])

6610

               text  label
202       古北水镇体验很好，      1
225       香山公园有趣好玩，      1
274    天坛性价比高，总体超赞，      1
282      北京动物园景色不错，      1
380       明十三陵值得一去！      1
...             ...    ...
48890    可玩性低，有待改进，      0
48892    性价比低，可玩性低，      0
48896         可玩性低，      0
48897         景色一般，      0
48919    性价比低，景色一般，      0

[6610 rows x 2 columns]

In [11]:
# 删除重复值，并检测是否成功
texts.drop_duplicates(inplace=True)
print(texts.duplicated().sum())

0

In [6]:
# 删除重复值，并检测是否成功
texts.drop_duplicates(inplace=True)
print(texts.duplicated().sum())

0

文本内容清洗

文本中的标点符号与一些特殊的标点符号对文本分析的作用不大，我们可以将其清除

In [7]:
import re

re_obj = re.compile(r"[!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~（）：【】《》▲→▼■←↑→↓↖↗↘↙★●◆‘’“”\s]+")

def clear(text):
    return re_obj.sub("",text)

texts['text'] = texts['text'].apply(clear)

In [13]:
texts.sample(5)

                                                   text  label
2129  哈哈哈，没去旅游之前想着回来写游记的，但是回来了后就好懒得写，国庆在家不想干活就无聊写写攻略...      1
1555  五月的春风温暖轻柔，吹拂着古城的大地，也吹动了我们的心。夕阳红专列开向西北，开向大漠、开向异...      1
1616  2019925开启期待已久的西藏之旅早上6点40分的早班飞机，凌晨4点起床前往机场。飞行途中...      1
2296  曾经无比辉煌的秋林公司与帕弗尔大厦老鼎丰长白糕、牛舌酥、长条酥酒糖正阳楼干肠，588元斤，没...      1
1563  理工大学毕业的老公，喜欢的建筑和桥梁。而身为文科生的我，想寻找的是百年来历史的足迹。当然，我...      1

In [8]:
texts.sample(5)

                                text  label
4702           中国科学技术馆孩子的乐园，孩子长知识的地方      1
33984           龙庆峡景色很不错，确实很不错，值得一来。      1
35957  中国科学技术馆孩子们玩得很开心，石老师讲解的非常详细，很棒      1
1205     北京杜莎夫人蜡像馆做的都很逼真，就是门票稍微有点贵了，      1
39510  没有告知只是言音讲解，到了门口没有标注如何领语音讲解态度差      0

In [14]:
len(texts)

2363

In [9]:
len(texts)

42324

In [18]:
texts.iloc[2362]

text     ，世界四大古都之一，其历史的渊源流长，其文化的博大精深。十三朝建都于此，曾有一个多么美好，多...
label                                                    1
Name: 2444, dtype: object

In [10]:
texts.iloc[2362]

text     香山公园山不在高，想爬就行，鬼见愁一到一览无遗
label                          1
Name: 2450, dtype: object

In [11]:
texts.drop(index=0,axis=0,inplace=True)

In [23]:
len(texts)

2362

In [12]:
len(texts)

42323

In [24]:
texts.to_csv('../data/MyDataset/dataset.csv',index=False)

In [13]:
texts.to_csv('../data/MyDataset/travel_comment_data/travel_comments.csv',index=False)

# 预处理自己的游记文本数据集
对标注好的游记文本数据进行打乱处理，划分好训练集、验证集和测试集

In [14]:
import torch
import torch.utils.data as D
import pandas as pd
from datasets import load_dataset

In [3]:
dataset = load_dataset('csv',data_files='../data/MyDataset/data2/dataset.csv')

Using custom data configuration default-2ba80473d89ccc09

Downloading and preparing dataset csv/default to /home/chenli/.cache/huggingface/datasets/csv/default-2ba80473d89ccc09/0.0.0/652c3096f041ee27b04d2232d41f10547a8fecda3e284a79a0ec4053c916ef7a...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

0 tables [00:00, ? tables/s]

Dataset csv downloaded and prepared to /home/chenli/.cache/huggingface/datasets/csv/default-2ba80473d89ccc09/0.0.0/652c3096f041ee27b04d2232d41f10547a8fecda3e284a79a0ec4053c916ef7a. Subsequent calls will reuse this data.

  0%|          | 0/1 [00:00<?, ?it/s]

In [15]:
dataset = load_dataset('csv',data_files='../data/MyDataset/travel_comment_data/travel_comments.csv')

Using custom data configuration default-0cecd588a3a23230

Downloading and preparing dataset csv/default to /home/chenli/.cache/huggingface/datasets/csv/default-0cecd588a3a23230/0.0.0/652c3096f041ee27b04d2232d41f10547a8fecda3e284a79a0ec4053c916ef7a...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

0 tables [00:00, ? tables/s]

Dataset csv downloaded and prepared to /home/chenli/.cache/huggingface/datasets/csv/default-0cecd588a3a23230/0.0.0/652c3096f041ee27b04d2232d41f10547a8fecda3e284a79a0ec4053c916ef7a. Subsequent calls will reuse this data.

  0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
dataset

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 3444
    })
})

In [16]:
dataset

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 42323
    })
})

In [17]:
dataset = dataset['train']

## 使用pandas对数据进行探索和统计

In [18]:
pd_dataset = pd.DataFrame(dataset)

In [7]:
pd_dataset

                                                   text  label
0     D1九月五号星期五包头1547——北1338K15351338，到达终点站北。7天酒店解放碑...      1
1     文路客老三我是老三，一个热爱生活的北京土著。待惯了城市，被传染了一身的城市病，想出去走走，或...      0
2     哈尔滨索菲亚山庄天津飞咯尚志洗浴昆明第一顿！昆明第一顿！昆明第一顿！昆明第一顿！昆明第一顿！...      1
3     他们说你是3D，4D，我不管，反正你是我的。妈妈说你离过婚，家里还有38口人要养，不能给我好...      0
4     我觉得如果再不把这篇日志整理完怕就真的全忘记了大家都以为我独自带宝宝周游中国旅行是早早就拟定...      1
...                                                 ...    ...
3439      石林峡感觉坑了，门票58，上山下山缆车单程就100一位，去观景台还收40一位，就去一次完事      0
3440  北海公园买的138的票，到北海公园一看门票才10元，因为风大把划船取消，船票退了5五元，有点...      0
3441                     世界花卉大观园很一般，里面人超级少，可以说几乎没有卖水的……      0
3442      乐多港奇幻乐园很差的体验，工作人员态度恶劣，设备也很旧，价格不合理，有这钱还不如去欢乐谷。      0
3443                     黑龙潭风景区坑人景点，千万别去。五一去的，几乎没水，乱乱糟糟      0

[3444 rows x 2 columns]

In [19]:
pd_dataset

                                                    text  label
0      南锣鼓巷北京旅行攻略关于住宿为了出行方便住在前门推荐798艺术园区、南锣鼓巷、很适合拍照打卡...      0
1                                           八达岭长城不到长城非好汉      1
2                                        北京海洋馆票价比实际的高出太多      0
3                                             国家大剧院挺好。。。      1
4      北京动物园本来第一天房间有些吵得，第二天跟前台说了之后直接就给换了个更大的安静的屋子，本来定...      1
...                                                  ...    ...
42318                             很差很差，能不能找个说话利索点的，真恶心！！      0
42319                                     误人子弟性价比低，体验不佳，      0
42320                                         可玩性低，体验不佳，      0
42321                                              差差差差差      0
42322                                              很差差差差      0

[42323 rows x 2 columns]

In [8]:
# 对label进行分组，探索积极文本有多少，消极文本有多少
gp = pd_dataset.groupby(by=['label'])
gp.size()

label
0    1548
1    1896
dtype: int64

In [20]:
# 对label进行分组，探索积极文本有多少，消极文本有多少
gp = pd_dataset.groupby(by=['label'])
gp.size()

label
0    10439
1    31884
dtype: int64

## 探索文章长度

In [21]:
def text_length(text):
    return len(text)

In [22]:
pd_dataset['text_len'] = pd_dataset['text'].apply(text_length)

In [11]:
pd_dataset.sample(5)

                                                   text  label  text_len
1590  洛阳城中心，定鼎路与中州路的交汇点是零公里处，是中国各条高速公路通达洛阳的中心坐标点，是计算...      1      3975
2752                清凉谷风景区需要花钱的地方很多，管理一般，景色还行，水上娱乐项目很多。      0        35
587   103\n门票20块钱倒是不贵。因为这个中秋节吧，出来这个夜游小火车10块钱，下来以后就不做...      0       312
2298  5我们的花费机票两人来回4874宜昌中转，住宿6天1650微蓝艺术旅居以下是他们的官网htt...      1      1322
2250  天使之城——曼谷，旅游业十分发达，被评选为2013全球最受欢迎旅游城市。很久之前就想来一趟欢...      1      3957

In [23]:
pd_dataset.sample(5)

                                  text  label  text_len
33391                去的时候春天没啥景。感受一般般吧！      0        17
27356                        石林峡很好非常好。      1         9
21800  古北水镇景区打造的玲珑秀气！削弱了商业气息，让人感觉温馨舒适！      1        31
17871                         雁栖湖项目很不错      1         8
34936              一般啦，电梯不灵，气味太重，还不够气派      0        19

In [12]:
# 加参数形式（参数过多，加个转置方便看）
# 对文本长度进行探索
aa = pd_dataset['text_len'].describe([0.01,0.1,0.25,0.5,0.75,0.9,0.99]).T
aa

count    3444.000000
mean     1503.462834
std      1465.498726
min         8.000000
1%         11.000000
10%        26.000000
25%       103.000000
50%      1116.500000
75%      2674.500000
90%      3778.700000
99%      4682.570000
max      4908.000000
Name: text_len, dtype: float64

In [24]:
# 加参数形式（参数过多，加个转置方便看）
# 对文本长度进行探索
aa = pd_dataset['text_len'].describe([0.01,0.1,0.25,0.5,0.75,0.9,0.99]).T
aa

count    42323.000000
mean        56.722208
std         89.072497
min          2.000000
1%           8.000000
10%         13.000000
25%         20.000000
50%         31.000000
75%         66.000000
90%        105.000000
99%        481.780000
max       1833.000000
Name: text_len, dtype: float64

In [13]:
a = pd_dataset['text_len'].describe()
a

count    3444.000000
mean     1503.462834
std      1465.498726
min         8.000000
25%       103.000000
50%      1116.500000
75%      2674.500000
max      4908.000000
Name: text_len, dtype: float64

In [25]:
a = pd_dataset['text_len'].describe()
a

count    42323.000000
mean        56.722208
std         89.072497
min          2.000000
25%         20.000000
50%         31.000000
75%         66.000000
max       1833.000000
Name: text_len, dtype: float64

## 打乱文章，分开训练集、验证集和测试集

In [26]:
shuffle_dataset = dataset.shuffle(9) # 将数据打乱，数值越大，混乱程度越大

In [27]:
train_size = int(0.8 * len(shuffle_dataset))
valid_size = int(0.1 * len(shuffle_dataset))
test_size = len(shuffle_dataset) - train_size - valid_size
train_dataset,valid_dataset,test_dataset = torch.utils.data.random_split(shuffle_dataset, [train_size,valid_size,test_size])

In [16]:
print(train_size)
print(valid_size)
print(test_size)

2755
344
345

In [28]:
print(train_size)
print(valid_size)
print(test_size)

33858
4232
4233

In [29]:
pd_train_dataset = pd.DataFrame(shuffle_dataset[train_dataset.indices])
pd_valid_dataset = pd.DataFrame(shuffle_dataset[valid_dataset.indices])
pd_test_dataset = pd.DataFrame(shuffle_dataset[test_dataset.indices])

In [23]:
train_gp = pd_train_dataset.groupby(by=['label'])
valid_gp = pd_valid_dataset.groupby(by=['label'])
test_gp = pd_test_dataset.groupby(by=['label'])
print(train_gp.size())
print(valid_gp.size())
print(test_gp.size())

label
0    1241
1    1514
dtype: int64
label
0    154
1    190
dtype: int64
label
0    153
1    192
dtype: int64

In [30]:
train_gp = pd_train_dataset.groupby(by=['label'])
valid_gp = pd_valid_dataset.groupby(by=['label'])
test_gp = pd_test_dataset.groupby(by=['label'])
print(train_gp.size())
print(valid_gp.size())
print(test_gp.size())

label
0     8336
1    25522
dtype: int64
label
0    1103
1    3129
dtype: int64
label
0    1000
1    3233
dtype: int64

In [24]:
pd_train_dataset.to_csv('../data/MyDataset/data2/train_dataset.csv',index=False)
pd_valid_dataset.to_csv('../data/MyDataset/data2/valid_dataset.csv',index=False)
pd_test_dataset.to_csv('../data/MyDataset/data2/test_dataset.csv',index=False)

In [31]:
pd_train_dataset.to_csv('../data/MyDataset/travel_comment_data/train_dataset.csv',index=False)
pd_valid_dataset.to_csv('../data/MyDataset/travel_comment_data/valid_dataset.csv',index=False)
pd_test_dataset.to_csv('../data/MyDataset/travel_comment_data/test_dataset.csv',index=False)