In [1]:
import numpy as np
import pandas as pd

In [7]:
texts = pd.read_csv('../pre_data/dataset.csv')

In [8]:
# 显示前五行看看数据长啥样
display(texts.head())

                                                text  label
0  D1九月五号星期五包头1547——北1338K15351338，到达终点站北。7天酒店解放碑...      1
1  文路客老三我是老三，一个热爱生活的北京土著。待惯了城市，被传染了一身的城市病，想出去走走，或...      0
2  哈尔滨索菲亚山庄天津飞咯尚志洗浴昆明第一顿！昆明第一顿！昆明第一顿！昆明第一顿！昆明第一顿！...      1
3  他们说你是3D，4D，我不管，反正你是我的。妈妈说你离过婚，家里还有38口人要养，不能给我好...      0
4  我觉得如果再不把这篇日志整理完怕就真的全忘记了大家都以为我独自带宝宝周游中国旅行是早早就拟定...      1

# 文本预处理
缺失值处理

重复值处理 

文本预处理

In [9]:
# 检测缺失值
texts.isnull().sum()

text     0
label    0
dtype: int64

In [10]:
# 重复值处理
print(texts.duplicated().sum())
display(texts[texts.duplicated()])

82

                                                   text  label
81    、黄龙是我国最美丽的以水为主题的自然风景区，所谓九寨归来不看水。我在这儿想提醒一下，大多数人...      1
145   ，令人向往的地方，一直吸引着我。在今年五一过后带上老婆和女儿，一起去了。穷游第一步当然是看机...      1
1006  这次之旅，大部分时间留在了，市区仅仅计划了两天行程，不过有一个地方一定要去，那就是中国最美丽...      1
1015  人其实是一种意念动物，在思维中寻找美好。在一个自己呆腻的地方到达别人呆腻的地方，就是旅行。其...      1
1023  2021年6月下旬，在去黑龙江旅游期间，曾经游览了的太阳岛。图为太阳岛的标志——太阳石。20...      1
...                                                 ...    ...
2387  刚过完儿子7岁生日，7月15日一家4人，倒腾了2次火车，从20度清凉无比的丽江来到了35度炎...      1
2402  DAY16月26号一早，我带上行李和爸妈的祝福出发去上海，到达后发现候车室里好多的背包客都跟...      1
2416  踏上钢琴码头，我期望中的旅途终于真正的开始了，但如何将这次游走落于纸笔间，却让我犯愁，第一次...      1
2425  第一天锦州到1230次1920开到济南554注明之所以从锦州去济南，是因为没有买到从的卧铺。...      1
2429  9月的气温依然让人不安仔细的计划着准备着不记得曾有多少次希望又希望期待又期待可以踏上那片土地...      1

[82 rows x 2 columns]

In [11]:
# 删除重复值，并检测是否成功
texts.drop_duplicates(inplace=True)
print(texts.duplicated().sum())

0

文本内容清洗

文本中的标点符号与一些特殊的标点符号对文本分析的作用不大，我们可以将其清除

In [12]:
import re

re_obj = re.compile(r"[!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~（）：【】《》▲→▼■←↑→↓↖↗↘↙★●◆‘’“”\s]+")

def clear(text):
    return re_obj.sub("",text)

texts['text'] = texts['text'].apply(clear)

In [13]:
texts.sample(5)

                                                   text  label
2129  哈哈哈，没去旅游之前想着回来写游记的，但是回来了后就好懒得写，国庆在家不想干活就无聊写写攻略...      1
1555  五月的春风温暖轻柔，吹拂着古城的大地，也吹动了我们的心。夕阳红专列开向西北，开向大漠、开向异...      1
1616  2019925开启期待已久的西藏之旅早上6点40分的早班飞机，凌晨4点起床前往机场。飞行途中...      1
2296  曾经无比辉煌的秋林公司与帕弗尔大厦老鼎丰长白糕、牛舌酥、长条酥酒糖正阳楼干肠，588元斤，没...      1
1563  理工大学毕业的老公，喜欢的建筑和桥梁。而身为文科生的我，想寻找的是百年来历史的足迹。当然，我...      1

In [14]:
len(texts)

2363

In [18]:
texts.iloc[2362]

text     ，世界四大古都之一，其历史的渊源流长，其文化的博大精深。十三朝建都于此，曾有一个多么美好，多...
label                                                    1
Name: 2444, dtype: object

In [22]:
texts.drop(index=0,axis=0,inplace=True)

In [23]:
len(texts)

2362

In [24]:
texts.to_csv('../data/MyDataset/dataset.csv',index=False)